@model IEnumerable<EmployeeInfo.Models.SalaryDetails>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicSalary)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TotalSalary)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("Delete", "Employee", new { id = item.EmployeeCode }))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasicSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalSalary)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeCode }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EmployeeCode }) |
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to dalete record with ID= @item.EmployeeName')" />
                </td>
            </tr>
        }

    }

</table>
